main.cart-wrap {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
}

div.cart-list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

h2.cart-header {
    background-color: inherit;
    border-bottom: 5px solid black;
}