:root{
    --highlight:#3d5a80;
    --sec:#98c1d9;
    --bg:#e0fbfc;
    --btn:#ee6c4d;
    --text:#293241; 
}

div.catalog-page{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 1rem;
    background: rgb(224,251,252);
    background: radial-gradient(circle, rgba(224,251,252,1) 2%, rgba(152,193,217,1) 56%, rgba(61,90,128,1) 100%);
    grid-gap: 1rem;
    max-width:100%;
    }
/* @media(max-width:600px){
    div.catalog-page{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:400px){
    div.catalog-page{
        grid-template-columns: auto;
    }
} */