.footer-wrap{
    display:flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height:7vh;
    background-color:black;
    color:white;
}
.footer-item{
    flex:1;
    padding:1rem;
}