:root{
    --highlight:#3d5a80;
    --sec:#98c1d9;
    --bg:#e0fbfc;
    --btn:#ee6c4d;
    --text:#293241; 
}
.card{
    width:18rem;
    background-color:var(--sec);
    color:var(--text);

}
.cart-btn i{
    width:100px;
}