:root{
    --highlight:#3d5a80;
    --sec:#98c1d9;
    --bg:#e0fbfc;
    --btn:#ee6c4d;
    --text:#293241; 
}
.quantity-picker button{
    color:--text;
    margin:0, .5rem;
    background-color:var(--bg);
}
.quantity-picker label{
    padding: 0 .5rem;
}