:root{
    --highlight:#3d5a80;
    --sec:#98c1d9;
    --bg:#e0fbfc;
    --btn:#ee6c4d;
    --text:#293241; 
}
.quantity-picker{
    display:flex;
    max-width:fit-content;
    margin-right:1rem;
}
.quantity-picker:hover{
    cursor: pointer;
}
.plus{
    font-size:1.5rem;
    align-self: center;
    color:var(--bg);
    margin-right:-1.75rem;
    z-index:10;
}
.minus{
    font-size:1.5rem;
    align-self: center;
    color:var(--bg);
    margin-left:-1.75rem;
}
span.plus:hover,span.minus:hover{
    color:var(--btn);
}
.qnt{
    border:1px solid var(--highlight);
    background-color:var(--highlight);
    color:var(--bg);
    border-radius: 20px;
    padding:0.2rem 2rem;
    margin:.2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-self:center;
}
